$WorkSans: 'WorkSans', sans-serif;

$trueBlack: #000000;
$trueWhite: #ffffff;

$green: #1CC760;
$black: #1F2128;
$gray: #999999;
$purple: #4B31EA;
$lightGray:rgba(153, 153, 153, 1);
$borderGray: #38393E;
$whitePurple: #6B32C0